  @media print {
    
    .top-header-title {
      display: none !important;
    }

    .top-header {
      margin: 5px !important;
    }

    .top-header-image {
      display: none !important;
    }

    .back-button {
      display: none;
    }

    .top-header-bottom {
      display: none !important;
    }

    .field-trip-title {
      border-color: black;
      color: black !important;
      font-size: 50px;
    }

    .field-trip-address {
      border-color: black;
      color: black !important;
      font-size: 50px;
    }

    .bg-dark {
      border-color: black !important;
    }

    .mx-lg-5 {
      margin: 0 !important;
    }

    .mt-5 {
      margin: 0 !important;
    }

    h3 {
      color: #000 !important;
    }

    h2 {
      color: #000 !important;
    }

    h4 {
      color: #000 !important;
    }

    td {
      color: #000 !important;
    }

    th {
      color: #000 !important;
    }

    .image-grid img {
      width: 100%;
      height: auto;
    }
    .image-grid {
      border: 4px solid black;
      justify-content: center;
    }

    .col-md-6 {
      flex: 0 0 auto;
      width: 50%;
    }

    h2 {
      font-size: 25px !important;
    }

    .card-header {
      display: none;
    }

    .page-break {
      page-break-before: always;
    }

    .recommended-route {
      border-color: #000;
    }

    .list-group-item {
      color: #000 !important;
    }

    .additional-items {
      border-color: #000 !important;
    }

    .list-group-header {
      color: #000 !important;
      text-shadow: none;
    }

    .break-inside {
      page-break-inside: avoid;
    }

    .list-group {
      padding: 5px;
    }

    .card {
      margin: 5px;
    }

  }
