  @media print {
    
    .top-header-title {
      display: none !important;
    }

    .top-header {
      margin: 5px !important;
    }

    .top-header-image {
      display: none !important;
    }

    .back-button {
      display: none;
    }

    #field-trip-title-size {
      font-size: 15px;
    }

    .top-header-bottom {
      display: none !important;
    }

    .card-body {
      margin: 0;
      padding: 5px;
    }

    .field-trip-title {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      flex: wrap;
      height:fit-content;
      align-items: center !important;
      border-color: black;
      text-align: center !important;
      border-radius: 15px;
      box-sizing: border-box;
      color: black !important;
      padding: 5px 5px;
      margin-bottom: 0;
    }

    .field-trip-address {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      height:fit-content;
      flex: wrap;
      align-items: center;
      box-sizing: border-box;
      border-color: black;
      color: black !important;
      text-align: center !important;
      padding: 5px 5px;
    }

    #field-trip-address-size {
      font-size: 15px;
    }

    .field-trip-stats-table {
      font-size: 10px;
    }

    .text-center {
      font-size: 10px !important;
    }

    .bg-dark {
      border-color: black !important;
    }

    .mx-lg-5 {
      margin: 0 !important;
    }

    .mt-5 {
      margin: 0 !important;
    }

    h3 {
      color: #000 !important;
    }

    h2 {
      color: #000 !important;
    }

    h4 {
      color: #000 !important;
    }

    td {
      color: #000 !important;
    }

    th {
      color: #000 !important;
    }

    .image-grid img {
      justify-self: center;
      width: 200px;
      height: auto;
    }
    .image-grid {
      border: 5px solid black;
    }

    .col-md-6 {
      flex: 0 0 auto;
      width: 50%;
      display: flex; 
      flex-direction: column; 
      align-items: center;
    }

    .border-bottom {
      font-size: 10px !important;
    }

    #recommended-route-size {
      font-size: 15px;
    }

    h2 {
      font-size: 25px !important;
    }

    .card-header {
      display: none;
    }

    .page-break {
      page-break-before: always;
    }

    .recommended-route {
      margin: 0;
      border-color: #000;
    }

    .list-group-item {
      font-size: 10px !important;
      border-color: #000 !important;
      color: #000 !important;
    }

    .additional-items {
      border-color: #000 !important;
    }

    #additional-items-size {
      font-size: 15px !important;
    }

    .list-group-header {
      color: #000 !important;
      padding: 0;
      text-shadow: none;
    }

    .break-inside {
      page-break-inside: avoid;
    }

    .list-group {
      border: #000;
      padding-bottom: 5px !important;
      padding: 5px;
    }

    .mb-0 {
      font-size: 10px !important;
      padding: 5px;
    }

    .card {
      margin: 5px;
    }

    .print-only {
      display: block !important;
    }

    .line-container {
      display: flex;
      flex-direction: column;
    }
    
    .line {
      border-bottom: 1px solid black;
      margin: 8px 5px;
    }    

  }
